/* 
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400
}

blockquote,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

a:active,
a:hover {
  outline: 0
}

img {
  border: none
}

li {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h4,
h5,
h6 {
  font-size: 100%
}

button,
input,
optgroup,
option,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word
}

body {
  line-height: 1.5;
  font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif
  font-size: 12px;
  font-family: PingFang SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,Arial,sans-serif!important;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: #f7f7f7;
  height: 100vh;
} */

/* hr {
  height: 1px;
  margin: 10px 0;
  border: 0;
  clear: both
}

a {
  color: #333;
  text-decoration: none
}

a:hover {
  color: #777
}

a cite {
  font-style: normal;
  *cursor: pointer
}

body,
div,
button,
input,
label,
textarea,
image,
button {
  box-sizing: border-box;
} */

/*flex布局*/
.flext {
  display: flex;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-bet {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-b {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.flex-cleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-col {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-grow-0 {
  min-width: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.flex-grow-1 {
  min-width: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.flex-x-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex-center2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-y-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.flex-x-bottom {
  display: flex;
  justify-content: flex-end;
}

.flex-y-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  -ms-grid-row-align: flex-end;
  align-items: flex-end;
}

.flex-y-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  -ms-grid-row-align: flex-start;
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-ra {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-raw {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

/*居中*/

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-center-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-colbt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-around {
  justify-content: space-around;
}

.flex-ad {
  justify-content: space-around;
}

.flex-bt {
  display: flex;
  justify-content: space-between;
}

/*占比*/

.flex-g-0 {
  min-width: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.flex-g-1 {
  min-width: 0;
  flex-grow: 1;
  flex-shrink: 1;
}

.flex-1 {
  flex: 1;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}

.bflex-9 {
  flex: 9 1 0;
}

.bflex-6 {
  flex: 6 1 0;
}

.bflex-7 {
  flex: 7 1 0;
}

.bflex-5 {
  flex: 5 1 0;
}

.bflex-4 {
  flex: 4 1 0;
}

.bflex-3 {
  flex: 3 1 0;
}

.bflex-2 {
  flex: 2 1 0;
}

.bflex-1 {
  flex: 1 1 0;
}

/*end*/

.flex-col-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-justify {
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
}

.flex-y-end {
  display: flex;
  align-items: flex-end;
}

.flex-x-end {
  display: flex;
  justify-content: flex-end;
}

/*space-betwee*/

.flex-x-bt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-y-bt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-x-ad {
  display: flex;
  justify-content: space-around;
}

.flex-y-ad {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.f-raw {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

/**/

.container {
  width: 100%;
  height: auto;
}

.image_all {
  width: 100%;
  height: 100%;
}

/* 相对定位以及绝对定位 */

.posi-a {
  position: absolute;
  z-index: 1;
}

.posi-r {
  position: relative;
  z-index: 1;
}

.posi-f {
  position: fixed;
  z-index: 1;
}

.t0 {
  top: 0;
}

.l0 {
  left: 0;
}

.b0 {
  bottom: 0;
}

.r0 {
  right: 0;
}

.rel {
  position: relative;
}

.ab {
  position: absolute;
}

.middle {
  vertical-align: middle;
}

.vtop {
  vertical-align: text-top;
}

/* 基于定位的上下居中 */

.ud {
  top: 0;
  bottom: 0;
  margin: auto;
}

/* 基于定位的左右居中 */

.lr {
  left: 0;
  right: 0;
  margin: auto;
}

.margin0 {
  margin: 0 auto;
}

/* 基于定位的垂直居中 */

.udlr {
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

/*display*/

.dis_in {
  display: inline-block;
  vertical-align: middle;
}

.dis_t {
  display: inline-block;
  vertical-align: top;
}

.dis_b {
  display: inline-block;
  vertical-align: bottom;
}

.dis_i {
  display: inline-block;
}

.dis_bk {
  display: block;
}

.dis_bk2 {
  display: block !important;
}

/*  宽度样式  */
.wid20 {
  width: 20%;
}

.wid25 {
  width: 25%;
}

.wid30 {
  width: 30%;
}

.wid40 {
  width: 40%;
}

.wid50 {
  width: 50%;
}

.wid60 {
  width: 60%;
}

.wid70 {
  width: 70%;
}

.wid80 {
  width: 80%;
}

.wid90 {
  width: 90%;
}

.wid {
  width: 100%;
}

.hei {
  height: 100%;
}

.wid_hei {
  width: 100%;
  height: 100%;
}

/* 字体是否加粗 */
.fnormal {
  font-weight: normal;
}

.wei {
  font-weight: bold;
}

.font_w400 {
  font-weight: 400;
}

.font_w500 {
  font-weight: 500;
}

.font_w600 {
  font-weight: 600;
}

.font_w700 {
  font-weight: 700;
}

/* 文字排列方式 */
.t_l {
  text-align: left;
}

.t_r {
  text-align: right;
}

.t_c {
  text-align: center;
}

.t_idex30 {
  text-indent: 30px;
}

.t-d-l {
  text-decoration: line-through;
}

.t_through {
  text-decoration: line-through;
}

.t_underline {
  text-decoration: underline;
}

/* 字体大小 */
.fon_0 {
  font-size: 0;
}

.fon_12 {
  font-size: 12px;
}

.fon_13 {
  font-size: 13px;
}

.fon_14 {
  font-size: 14px;
}

.fon_15 {
  font-size: 15px;
}

.fon_16 {
  font-size: 16px;
}

.fon_18 {
  font-size: 18px;
}

.fon_20 {
  font-size: 20px;
}

.fon_22 {
  font-size: 22px;
}

.fon_24 {
  font-size: 24px;
}

.fon_26 {
  font-size: 26px;
}

.fon_30 {
  font-size: 30px;
}

.fon_40 {
  font-size: 40px;
}

.fon_50 {
  font-size: 50px;
}

/* 文字颜色 */
.color_9 {
  color: #999;
}

.color_8 {
  color: #878d99;
}

.color_6 {
  color: #666;
}

.color_5 {
  color: #5a5e66;
}

.color_3 {
  color: #333;
}

.color_2 {
  color: #2d2f33;
}

.color_0 {
  color: #000;
}

.color_f {
  color: #fff;
}

.color_d {
  color: #ddd;
}

.color_e {
  color: #e5e5e5;
}

.color_ef {
  color: #efefef;
}

.color_r {
  color: red;
}

.color_rb {
  color: #f00;
}

.color_b {
  color: #47a4ff;
}

.color_y {
  color: #ffc31e;
}

.color_ff25 {
  color: #ffa025;
}

.alinkcolor,
.alinkcolor:hover {
  color: rgb(255, 128, 0);
}

.subjectcolor {
  color: #1D65EE;
}
.subjectbgcolor {
  background: #1D65EE;
}


.subjectcolor2 {
  color: #155BD4;
}

.maincolor {
  color: #FD5500;
}

.auxiliarycolor {
  color: #3F83E8;
}

.auxiliarycolor:focus,
.auxiliarycolor:hover {
  color: #3F83E8;
}

.tColor {
  color: #aab2bd;
}

.color_b5 {
  color: #b5b5b5
}

.color60 {
  color: #606266;
}

.color90 {
  color: #909399;
}

.color-green {
  color: #67C23A;
}

.color-red {
  color: #F56C6C;
}

.color-orange {
  color: #f5a300;
}

/* 背景为白色 */

.ba_f {
  background: #fff;
}

.ba_f235 {
  background: #F2F3F5;
}

.ba_f3 {
  background: #f3f3f3;
}

.ba_f4 {
  background: #f4f4f4;
}

.ba_f5 {
  background: #f5f5f5;
}

.ba_f57a {
  background: #F5F7FA;
}

.ba_f6 {
  background: #f6f6f6;
}

.ba_f8 {
  background: #f8f8f8;
}

.ba_f59 {
  background: #F5F7F9;
}

.ba_e5 {
  background: #e5e5e5;
}

.ba_fd {
  background: #fbfdfd;
}

.ba_r2 {
  background: rgb(244, 246, 250)
}

.ba_r225 {
  background: rgb(225, 225, 225)
}

.bag_green {
  background: #68CA73;
}

/* 一般用作底部固定或者弹框 */

.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
}

/* 右浮动 */

.fr {
  float: right;
}

/* 左浮动 */

.fl {
  float: left;
}

.curs {
  cursor: pointer;
}

/* 去除button自带的边框 */

button::after {
  border: none;
}

/* 单行超出显示省略号 */
.overflowlnr {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

/* 多行超出显示省略号 */
.wordall {
  word-break: break-all;
}

.hydlnr {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.hydlnr_2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.hydlnr_4 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.gobyndsingle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overhide {
  overflow: hidden;
}

.overhide-x {
  overflow-x: hidden;
}

.overscroll {
  overflow: scroll;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after {
  display: block;
  content: "\200B";
  clear: both;
  height: 0;
}

.clearfix {
  *zoom: 1;
}

/*外边距*/
.mar_20 {
  margin: 20px;
}

.mar_tblr5 {
  margin: 5px;
}

.mar_lr5 {
  margin: 0 5px;
}

.mar_lr10 {
  margin: 0 10px;
}

.mar_lr20 {
  margin: 0 20px;
}

.mar_tb10 {
  margin: 10px 0;
}

.mar_b5 {
  margin-bottom: 5px;
}

.mar_b10 {
  margin-bottom: 10px;
}

.mar_b15 {
  margin-bottom: 15px;
}

.mar_b20 {
  margin-bottom: 20px;
}

.mar_b30 {
  margin-bottom: 30px;
}

.mar_b50 {
  margin-bottom: 50px;
}

.mar_l5 {
  margin-left: 5px;
}

.mar_l10 {
  margin-left: 10px;
}

.mar_l15 {
  margin-left: 15px;
}

.mar_l20 {
  margin-left: 20px;
}

.mar_l30 {
  margin-left: 30px;
}

.mar_l40 {
  margin-left: 40px;
}

.mar_l50 {
  margin-left: 50px;
}

.mar_l150 {
  margin-left: 150px;
}

.mar_t5 {
  margin-top: 5px;
}

.mar_t10 {
  margin-top: 10px;
}

.mar_t15 {
  margin-top: 15px;
}

.mar_t20 {
  margin-top: 20px;
}

.mar_t30 {
  margin-top: 30px;
}

.mar_t40 {
  margin-top: 40px;
}

.mar_r5 {
  margin-right: 5px;
}

.mar_r10 {
  margin-right: 10px;
}

.mar_r15 {
  margin-right: 15px;
}

.mar_r20 {
  margin-right: 20px;
}

.mar_r30 {
  margin-right: 30px;
}

.mar_r40 {
  margin-right: 40px;
}

.mar_r45 {
  margin-right: 45px;
}

.mar_r60 {
  margin-right: 60px;
}

.fonlr {
  margin: 0 2px;
}

/*内边距*/
.pad_5 {
  padding: 5px;
}

.pad_10 {
  padding: 10px;
}

.pad_15 {
  padding: 15px;
}

.pad_20 {
  padding: 20px;
}

.pad_25 {
  padding: 25px;
}

.pad_30 {
  padding: 30px;
}

.pad_tb_10 {
  padding: 10px 0;
}

.pad_tb_15 {
  padding: 15px 0;
}

.pad_tb_20 {
  padding: 20px 0;
}

.pad_tr_23 {
  padding: 20px 30px;
}

.pad_tb_30 {
  padding: 30px 0;
}

.pad_tb_40 {
  padding: 40px 0;
}

.pad_tb_5 {
  padding: 5px 0;
}

.pad_lr_10 {
  padding: 0 10px;
}

.pad_lr_20 {
  padding: 0 20px;
}

.pad_lr_30 {
  padding: 0 30px;
}

.pad_t_5 {
  padding-top: 5px;
}

.pad_t_10 {
  padding-top: 10px;
}
.pad_t_15 {
  padding-top: 15px;
}

.pad_t_20 {
  padding-top: 20px;
}

.pad_t_30 {
  padding-top: 30px;
}

.pad_t_40 {
  padding-top: 40px;
}

.pad_t_60 {
  padding-top: 60px;
}

.pad_l_10 {
  padding-left: 10px;
}

.pad_l_20 {
  padding-left: 20px;
}

.pad_l_30 {
  padding-left: 30px;
}

.pad_l_60 {
  padding-left: 60px;
}

.pad_r_60 {
  padding-right: 60px;
}

.pad_l_80 {
  padding-left: 80px;
}

.pad_b_5 {
  padding-bottom: 5px;
}

.pad_b_10 {
  padding-bottom: 10px;
}

.pad_b_15 {
  padding-bottom: 15px;
}

.pad_b_30 {
  padding-bottom: 30px;
}

.pad_b_50 {
  padding-bottom: 50px;
}

.pad_r_10 {
  padding-right: 10px;
}

.pad_r_15 {
  padding-right: 15px;
}

.pad_r_20 {
  padding-right: 20px;
}

.pad_r_25 {
  padding-right: 25px;
}

/*边框*/
.bor_999 {
  border: 1px solid #999;
}

.bor_de {
  border: 1px solid #dedede;
}

.bor_dd {
  border: 1px solid #dddfe2;
}

.bor_b_el {
  border-bottom: 1px solid #e1e1e1;
}

.bor_b_e4 {
  border-bottom: 1px solid #e4e7ed
}

.bor_b_r4 {
  border-right: 1px solid #e4e7ed
}

.bor_b_dd {
  border-bottom: 1px solid #dddfe2
}

.bor_r_dd {
  border-right: 1px solid #dddfe2
}

.bor_b_df5 {
  border-bottom: 1px solid #EBEEF5
}

.bor_e5 {
  border: 1px solid #e5e5e5;
}

/*虚线边框*/
.bor_b_de4 {
  border-bottom: 1px dashed #e4e7ed
}
.bor_r_de4 {
  border-right: 1px dashed #e4e7ed
}

.bor_b_r102 {
  border-bottom: 1px dashed rgb(102, 102, 102);
}

.bor_t_de4 {
  border-top: 1px dashed #e4e7ed;
}

/*圆角边框*/
.bor_rad4 {
  border-radius: 4px;
}

.bor_rad5 {
  border-radius: 5px;
}

.bor_rad20 {
  border-radius: 20px;
}

.bor_rad50 {
  border-radius: 50%;
}

/*行高*/
.lh1 {
  line-height: 1;
}

.lh8 {
  line-height: .8;
}

.lh14 {
  line-height: 14px;
}

.lh16 {
  line-height: 16px;
}

.lh18 {
  line-height: 18px;
}

.lh22 {
  line-height: 22px;
}

.lh25 {
  line-height: 25px;
}

.lh28 {
  line-height: 28px;
}

.lh30 {
  line-height: 30px;
}

.lh36 {
  line-height: 36px;
}

.lh40 {
  line-height: 40px;
}

.textder {
  text-decoration: line-through
}
.yc{
  opacity: 0;
}

/*全局副标题*/
.shuju_title {
  position: relative;
  padding: 10px;
  width: 100%;
  min-height: 40px;
  /*background-color: #f8f8f8;*/
}

.shuju_title .shuju_title_text {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 9px;
  font-size: 16px;
  font-weight: bold;
  color: #353535;
  line-height: 20px;
}

.shuju_title .shuju_title_text::before {
  position: absolute;
  top: 50%;
  left: -3px;
  transform: translateY(-50%);
  margin-right: 5px;
  content: '';
  display: inline-block;
  height: 14px;
  width: 3px;
  background-color: #155BD4;
}

.el-drawer{
  overflow: scroll;
}